{% extends 'projects.html' %}
{% load static %}

{% block title %}Calculate, ProductionCost{% endblock %}

{% block body %}

    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
          <!-- begin Nav pills -->
          <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#offset_tab">Offset</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#kalender_tab">Kalender</a>
            </li>
          </ul>
          <!-- end Nav Pills -->
          <!-- begin tab panes -->
          <div class="tab-content">
            <div id="offset_tab" class="container tab-pane active">
              <!-- your content here -->
              <!-- begin::Card-->
            <div class="card card-custom overflow-hidden">
              <div class="card-body p-0">
                  <!-- begin: Invoice-->
                  <!-- begin: Invoice header-->
                  <div class="row justify-content-center bgi-size-cover bgi-no-repeat py-8 px-8 py-md-27 px-md-0"
                       style="background-image: url({% static '/media/bg/bg-6.jpg' %});">
                      <div class="col-md-9">
                          <div class="d-flex justify-content-between pb-10 pb-md-20 flex-column flex-md-row">
                              <h1 class="display-4 text-white font-weight-boldest mb-10">Kalkulator Cetak Offset</h1>
                              <div class="d-flex flex-column align-items-md-end px-0">
                                  <span class="text-white d-flex flex-column align-items-md-end opacity-70">
                            <span>Harvest Offset Manager</span>
                            <span>Version 1.0</span>
                          </span>
                              </div>
                          </div>
                          <div class="border-bottom w-100 opacity-20"></div>
                          <div class="d-flex justify-content-between text-white pt-6">
                              <div class="d-flex flex-column flex-root">
                                  <span class="font-weight-bolde mb-2r">Waktu/tanggal</span>
                                  <span class="opacity-70">{{ time }}</span>
                              </div>
                              <div class="d-flex flex-column flex-root">
                                  <span class="font-weight-bolder mb-2">dihasilkan untuk pengguna</span>
                                  <div class="d-flex align-items-center">
                                      <div class="symbol symbol-50 mr-5">
                                          <div class="symbol-label"
                                               style="background-image:url({% static user.profile.profile_photo %})"></div>
                                      </div>
                                      <div class="d-flex flex-column">
                                          <a href="#"
                                             class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary">{{ user.username }}</a>
                                          <div class="navi mt-2">
                                              <a href="#" class="navi-item">
                                                  <span class="navi-link p-0 pb-2">
                                                      <span class="navi-text text-muted text-hover-primary">{{ user.email }}</span>
                                                  </span>
                                              </a>
                                          </div>
                                      </div>
                                  </div>

                              </div>
                              <div class="d-flex flex-column flex-root">
                                  <span class="font-weight-bolder mb-2">TERMASUK</span>
                                  <span class="opacity-70">Ringkasan Pekerjaan<br>Ringkasan Pengguna</span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- end: Invoice header-->
                  
                  <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                      <div class="col-md-9">
                          <div class="table-responsive">
                              <span class="font-weight-bolder font-size-h3 mb-2">User Status in Projects :</span>
                              <table class="table">
                                  <div class="modal-body">
                                                      <form id="add_board_from" method="GET">
                                                          <div class="form">
                                                              <!-- START: JENIS KERTAS -->
                                                              <div class="row">
                                                                  <div class="col-2">
                                                                      <div class="form-group">
                                                                          <label>Jenis / GSM
                                                                              <span class="text-danger">*</span></label><br>
                                                                          <select name="tipe_kertas" style="width: 100%"
                                                                                  class="form-control form-control-lg select2"
                                                                                  id="kt_select2_70"
                                                                                  name="param">
                                                                                  <option value="">--- Tipe Kertas ---</option>
                                                                                  {% for tipe in tipe_kertas_choices %}
                                                                                      <option value="{{ tipe }}">{{ tipe }}</option>
                                                                                  {% endfor %}
                                                                          </select>
                                                                      </div>
                                                                  </div>
                                                                  <div class="col-2">
                                                                      <div class="form-group">
                                                                          <label>Ukuran
                                                                              <span class="text-danger">*</span></label><br>
                                                                          <select name="ukuran_kertas" style="width: 100%"
                                                                                  class="form-control form-control-lg select2"
                                                                                  id="kt_select2_72"
                                                                                  name="param">
                                                                                  <option value="">--- Tipe Kertas ---</option>
                                                                                  {% for ukuran, label in ukuran_kertas_choices %}
                                                                                      <option value="{{ ukuran }}">{{ label }}</option>
                                                                                  {% endfor %}
                                                                          </select>
                                                                      </div>
                                                                  </div>
                                                                  <div class="col-2">
                                                                    <div class="form-group">
                                                                      <!-- kosong -->
                                                                    </div>
                                                                  </div>
                                                                  <div class="col-2">
                                                                    <div class="form-group">
                                                                      <!-- kosong -->
                                                                    </div>
                                                                  </div>
                                                                  <div class="col-2">
                                                                      <div class="form-group">
                                                                        <label>Jumlah
                                                                          <span class="text-danger">*</span>
                                                                        </label>
                                                                        <input type="number" class="form-control" id="kertas_input" name="kertas_input" step="0.01" required>
                                                                      </div>
                                                                    </div>
                                                                  <div class="col-2">
                                                                      <div class="d-flex flex-column text-md-right">
                                                                          <span class="font-size-lg font-weight-bolder mb-1">Harga</span>
                                                                          <span id="harga_display" class="font-size-h2 font-weight-boldest text-danger mb-1"></span>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                              
                                                          <!-- END: JENIS KERTAS -->

                                                          <!-- start ongkosan -->
                                                          <div class="row">
                                                              <div class="col-4">
                                                                  <div class="form-group">
                                                                          <label>Ongkos Cetak
                                                                              <span class="text-danger">*</span></label><br>
                                                                          <select name="production_cost" style="width: 100%"
                                                                                  class="form-control form-control-lg select2"
                                                                                  id="kt_select2_82"
                                                                                  name="param">
                                                                                  <option value="">--- Select Ongkosan ---</option>
                                                                                  {% for prod in production_cost_choices %}
                                                                                      <option value="{{ prod }}">{{ prod }}</option>
                                                                                  {% endfor %}
                                                                          </select>
                                                                      </div>
                                                              </div>
                                                              <div class="col-2">
                                                                  <div class="form-group">
                                                                          <label>Set Warna
                                                                              <span class="text-danger">*</span></label><br>
                                                                          <select name="set_warna" style="width: 100%"
                                                                                  class="form-control form-control-lg select2"
                                                                                  id="kt_select2_setwarna"
                                                                                  name="param">
                                                                                  <option value="">--- Select Warna ---</option>
                                                                                  {% for set in set_warna_choices %}
                                                                                      <option value="{{ set }}">{{ set }}</option>
                                                                                  {% endfor %}
                                                                          </select>
                                                                      </div>
                                                              </div>
                                                              <div class="col-2">
                                                                  <div class="form-group">
                                                                    <!-- kosong -->
                                                                  </div>
                                                                </div>
                                                                <div class="col-2">
                                                                  <div class="form-group">
                                                                    <!-- kosong -->
                                                                  </div>
                                                                </div>
                                                              <div class="col-2">
                                                                  <div class="d-flex flex-column text-md-right">
                                                                      <span class="font-size-lg font-weight-bolder mb-1">Harga</span>
                                                                          <span id="ongkos_display" class="font-size-h2 font-weight-boldest text-danger mb-1"></span>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <!-- end ongkosan -->

                                                          <!-- start biaya dreg -->
                                                          <div class="row">
                                                              <div class="col-2">
                                                                  <div class="form-group">
                                                                    <label>Jml dreg
                                                                      <span class="text-danger">*</span>
                                                                    </label>
                                                                    <input type="number" class="form-control" id="jumlah_dreg" name="jumlah_dreg" step="0.01" required>
                                                                  </div>
                                                                </div>
                                                              <div class="col-4">
                                                                  <div class="form-group">
                                                                      <label>Harga Dreg
                                                                        <span class="text-danger">*</span>
                                                                      </label>
                                                                      <select name="ukuran_dreg" style="width: 100%" class="form-control form-control-lg select2" id="ukuran_dreg">
                                                                        <option value="">--- Select harga Dreg ---</option>
                                                                        <option value="0">Tanpa Dreg</option>
                                                                        <option value="110">110 rupiah</option>
                                                                        <option value="120">120 rupiah</option>
                                                                      </select>
                                                                  </div>
                                                              </div>
                                                              <div class="col-2">
                                                                  <div class="form-group">
                                                                    <!-- kosong -->
                                                                  </div>
                                                                </div>
                                                                <div class="col-2">
                                                                  <div class="form-group">
                                                                    <!-- kosong -->
                                                                  </div>
                                                                </div>
                                                              <div class="col-2">
                                                                  <div class="d-flex flex-column text-md-right">
                                                                      <span class="font-size-lg font-weight-bolder mb-1">Harga</span>
                                                                          <span id="dreg_display" class="font-size-h2 font-weight-boldest text-danger mb-1"></span>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <!-- end biaya dreg -->

                                                          <!-- start laminasi -->
                                                          <div class="row">
                                                              <div class="col-4">
                                                                <div class="form-group">
                                                                  <label>Laminasi
                                                                    <span class="text-danger">*</span>
                                                                  </label>
                                                                  <select name="laminate_type" style="width: 100%" class="form-control form-control-lg select2" id="kt_select2_83">
                                                                    <option value="">--- Select Laminate Type ---</option>
                                                                    <option value="0">No Laminate</option>
                                                                    <option value="0.15">0.15 (glossy)</option>
                                                                    <option value="0.2">0.2 (doff)</option>
                                                                  </select>
                                                                </div>
                                                              </div>
                                                              <div class="col-2">
                                                                  <div class="form-group">
                                                                    <!-- kosong -->
                                                                  </div>
                                                                </div>
                                                                <div class="col-2">
                                                                  <div class="form-group">
                                                                    <!-- kosong -->
                                                                  </div>
                                                                </div>
                                                              <div class="col-2">
                                                                  <div class="form-group">
                                                                    <label>Jumlah
                                                                      <span class="text-danger">*</span>
                                                                    </label>
                                                                    <input type="number" class="form-control" id="laminasi_input" name="laminasi_input" step="0.01" required>
                                                                  </div>
                                                                </div>
                                                              <div class="col-2">
                                                                <div class="d-flex flex-column text-md-right">
                                                                  <span class="font-size-lg font-weight-bolder mb-1">Harga</span>
                                                                  <span id="laminasi_display" class="font-size-h2 font-weight-boldest text-danger mb-1"></span>
                                                                </div>
                                                              </div>
                                                            </div>

                                                          <!-- end laminasi -->
                                                          
                                                          <!-- start finishing -->
                                                          <div class="row">
                                                              <div class="col-6">
                                                                  <div class="form-group">
                                                                          <label>Biaya finishing
                                                                              <span class="text-danger">*</span></label><br>
                                                                          <select name="tipe_finishing" style="width: 100%"
                                                                                  class="form-control form-control-lg select2"
                                                                                  id="kt_select2_54"
                                                                                  name="param" multiple="multiple">
                                                                                  <option value="">--- Select Finishing ---</option>
                                                                                  {% for fin in finishing_cost_choices %}
                                                                                      <option value="{{ fin }}">{{ fin }}</option>
                                                                                  {% endfor %}
                                                                          </select>
                                                                      </div>
                                                              </div>
                                                              <div class="col-2">
                                                                  <div class="form-group">
                                                                    <!-- kosong -->
                                                                  </div>
                                                                </div>
                                                              <div class="col-2">
                                                                  <div class="form-group">
                                                                    <label>Jumlah
                                                                      <span class="text-danger">*</span>
                                                                    </label>
                                                                    <input type="number" class="form-control" id="finishing_input" name="finishing_input" step="0.01" required>
                                                                  </div>
                                                                </div>
                                                              <div class="col-2">
                                                                  <div class="d-flex flex-column text-md-right">
                                                                      <span class="font-size-lg font-weight-bolder mb-1">Harga</span>
                                                                          <span id="finishing_display" class="font-size-h2 font-weight-boldest text-danger mb-1"></span>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <!-- end finishing -->
                                                          <!-- start lain-lain -->
                                                          <div class="row">
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                        <label>Lain-Lain
                                                                            <span class="text-danger">*</span></label><br>
                                                                            <span>Masukan harga tambahan seperti; Pisau Kecil, Sedang, Atau Besar (dalam Rupiah)</span>
                                                                    </div>
                                                            </div>
                                                            <div class="col-2">
                                                                <div class="form-group">
                                                                  <!-- kosong -->
                                                                </div>
                                                              </div>
                                                            <div class="col-2">
                                                                <div class="form-group">
                                                                  <label>Jumlah
                                                                    <span class="text-danger">*</span>
                                                                  </label>
                                                                  <input type="number" class="form-control" id="lain_input" name="lain_input" step="0.01" required>
                                                                </div>
                                                              </div>
                                                            <div class="col-2">
                                                                <div class="d-flex flex-column text-md-right">
                                                                    <span class="font-size-lg font-weight-bolder mb-1">Harga</span>
                                                                        <span id="lain_display" class="font-size-h2 font-weight-boldest text-danger mb-1"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- end lain-lain -->
                                                      </div>

                                                      </form>
                                                  </div>
                              </table>
                          </div>
                      </div>
                  </div>
                  <!-- end: Invoice footer-->

                  <!-- begin: Invoice footer-->
                  <div class="row justify-content-center bg-gray-100 py-8 px-8 py-md-10 px-md-0">
                      <div class="col-md-9">
                          <div class="d-flex justify-content-between flex-column flex-md-row font-size-lg">
                              <div class="d-flex flex-column mb-10 mb-md-0">
                                  <div class="font-weight-bolder font-size-lg mb-3">Total Harga Cetak >>></div>
                                  <div class="d-flex justify-content-between mb-3">
                                      <span class="mr-15 font-weight-bold"> </span>
                                      <span class="text-right"> </span>
                                  </div>
                              </div>
                              <div class="d-flex flex-column text-md-right">
                                  <span class="font-size-lg font-weight-bolder mb-1">Total</span>
                                  <span id="total_cost_display" class="font-size-h2 font-weight-boldest text-danger mb-1"></span>
                                  <span>Including All Tasks in All Projects</span>
                                  <div class="form-group mt-3">  <label for="margin_input">Margin (%)</label>
                                      <input type="number" class="form-control" id="margin_input" name="margin" step="0.01" required>
                                    </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- begin: Invoice action-->
                  <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                      <div class="col-md-9">
                          <div class="d-flex justify-content-between">
                              <a href="/boards" class="btn btn-light-primary font-weight-bold">Back
                              </a>
                          </div>
                      </div>
                  </div>
                  <!-- end: Invoice action-->
                  <!-- end: Invoice-->
              </div>
          </div>
          <!-- end::Card-->
              <!-- end your content -->
            </div>
            <div id="kalender_tab" class="container tab-pane fade">
              <!-- your content here -->
              <!-- end content here -->
            </div>
          </div>
          <!-- end tab panes -->
        </div>
        <!--end::Container-->
    </div>

    

{% endblock %}