{% extends 'projects.html' %}
{% load static %}

{% block title %}Reports{% endblock %}

{% block body %}

    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!-- begin::Card-->
            <div class="card card-custom overflow-hidden">
                <div class="card-body p-0">
                    <!-- begin: Invoice-->
                    <!-- begin: Invoice header-->
                    <div class="row justify-content-center bgi-size-cover bgi-no-repeat py-8 px-8 py-md-27 px-md-0"
                         style="background-image: url({% static '/media/bg/bg-6.jpg' %});">
                        <div class="col-md-9">
                            <div class="d-flex justify-content-between pb-10 pb-md-20 flex-column flex-md-row">
                                <h1 class="display-4 text-white font-weight-boldest mb-10">SPK CETAK</h1>
                                <div class="d-flex flex-column align-items-md-end px-0">
                                    <span class="text-white d-flex flex-column align-items-md-end opacity-70">
															<span>Harvest Offset Manager</span>
															<span>Version 1.0</span>
														</span>
                                </div>
                            </div>
                            <div class="border-bottom w-100 opacity-20"></div>
                            <div class="d-flex justify-content-between text-white pt-6">
                                <div class="d-flex flex-column flex-root">
                                    <span class="font-weight-bolde mb-2r">Waktu/tanggal</span>
                                    <span class="opacity-70">{{ time }}</span>
                                </div>
                                <div class="d-flex flex-column flex-root">
                                    <span class="font-weight-bolder mb-2">dihasilkan untuk pengguna</span>
                                    <div class="d-flex align-items-center">
                                        <div class="symbol symbol-50 mr-5">
                                            <div class="symbol-label"
                                                 style="background-image:url({% static user.profile.profile_photo %})"></div>
                                        </div>
                                        <div class="d-flex flex-column">
                                            <a href="#"
                                               class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary">{{ user.username }}</a>
                                            <div class="navi mt-2">
                                                <a href="#" class="navi-item">
                                                    <span class="navi-link p-0 pb-2">
                                                        <span class="navi-text text-muted text-hover-primary">{{ user.email }}</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="d-flex flex-column flex-root">
                                    <span class="font-weight-bolder mb-2">TERMASUK</span>
                                    <span class="opacity-70">Ringkasan Pekerjaan<br>Ringkasan Pengguna</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end: Invoice header-->
                    <!-- begin: Invoice body-->
                    <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                        <div class="col-md-9">
                            {% for p in p_info %}
                                <div class="d-flex justify-content-between flex-column flex-md-row font-size-lg">
                                    <div class="d-flex flex-column mb-10 mb-md-0">
                                        <div class="font-weight-bolder font-size-lg mb-3">No & Tanggal :</div>
                                        <div class="d-flex justify-content-between mb-3">
                                            <span class="mr-15 font-weight-bold">No. SPK :</span>
                                            <span class="text-right">{{ p.kode }}</span>
                                        </div>
                                        <div class="d-flex justify-content-between mb-3">
                                            <span class="mr-15 font-weight-bold">Tanggal SPK :</span>
                                            <span class="text-right">{{ p.date_spk }}</span>
                                        </div>
                                        <div class="d-flex justify-content-between mb-3">
                                            <span class="mr-15 font-weight-bold">Tanggal Tenggat :</span>
                                            <span class="text-danger text-right">{{ p.date_deadline }}</span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- end: Invoice body-->
                    <!-- begin: Invoice footer-->
                    <div class="container">
                        <div class="row justify-content-center bg-gray-100 py-8 px-8 py-md-10 px-md-0">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-6">
                                        {% for p in p_info %}
                                            <div class="d-flex justify-content-between flex-column flex-md-row font-size-lg">
                                                <div class="d-flex flex-column mb-10 mb-md-0">
                                                    <div class="font-weight-bolder font-size-lg mb-3">Data Cetak :</div>
                                                    <div class="d-flex justify-content-between mb-3">
                                                        <span class="mr-15 font-weight-bold">Nama File :</span>
                                                        <span class="text-right">{{ p.name }}</span>
                                                    </div>
                                                    <div class="d-flex justify-content-between mb-3">
                                                        <span class="mr-15 font-weight-bold">Kertas:</span>
                                                        <span class="text-right">{{ p.paper }}</span>
                                                    </div>
                                                    <div class="d-flex justify-content-between">
                                                        <span class="mr-15 font-weight-bold">gramatur :</span>
                                                        <span class="text-right">{{ p.gramatur }}</span>
                                                    </div>
                                                    <div class="d-flex justify-content-between">
                                                        <span class="mr-15 font-weight-bold">Sisi Cetak :</span>
                                                        <span class="text-right">{{ p.sisi }}</span>
                                                    </div>
                                                    <div class="d-flex justify-content-between">
                                                        <span class="mr-15 font-weight-bold">Jumlah Plat/lbr :</span>
                                                        <span class="text-right">{{ p.jumlah_plat }}</span>
                                                    </div>
                                                    <div class="d-flex justify-content-between">
                                                        <span class="mr-15 font-weight-bold">Ukuran Bahan Cetak :</span>
                                                        <span class="text-right">{{ p.uk_bahan_cetak }}</span>
                                                    </div>
                                                    <div class="d-flex justify-content-between">
                                                        <span class="mr-15 font-weight-bold">Jumlah Cetak :</span>
                                                        <span class="text-right">{{ p.jumlah_cetak }}</span>
                                                    </div>
                                                    <div class="d-flex justify-content-between">
                                                        <span class="mr-15 font-weight-bold">Jumlah Waste :</span>
                                                        <span class="text-right">{{ p.jumlah_waste }}</span>
                                                    </div>
                                                    <div class="d-flex justify-content-between">
                                                        <span class="mr-15 font-weight-bold">Jumlah Kertas :</span>
                                                        <span class="text-right">{{ p.jumlah_kertas }}</span>
                                                    </div>
                                                    <div class="d-flex justify-content-between">
                                                        <span class="mr-15 font-weight-bold">Laminasi :</span>
                                                        <span class="text-right">{{ p.laminasi }}</span>
                                                    </div>
                                                    <div class="d-flex justify-content-between">
                                                        <span class="mr-15 font-weight-bold">Finishing :</span>
                                                        <span class="text-right">{{ p.finishing }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-md-6">
                                        {% for p in p_info %}
                                            <div class="d-flex justify-content-between flex-column flex-md-row font-size-lg">
                                                <div class="d-flex flex-column mb-10 mb-md-0">
                                                    <div class="font-weight-bolder font-size-lg mb-3">Data Bahan :</div>
                                                    <div class="d-flex justify-content-between mb-3">
                                                        <span class="mr-15 font-weight-bold">Ukuran Bahan :</span>
                                                        <span class="text-right">{{ p.ukuran_bahan }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <span class="font-weight-bolder font-size-h3 mb-2">Mengetahui :</span>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="pl-0 font-weight-bold text-muted text-uppercase">Admin Produksi</th>
                                        <th class="text-right font-weight-bold text-muted text-uppercase">Design / Layout</th>
                                        <th class="text-right font-weight-bold text-muted text-uppercase">Operator Cetak</th>
                                        <th class="text-right font-weight-bold text-muted text-uppercase">Done
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for p in p_info %}
                                        <tr class="font-weight-boldest border-bottom-0 font-size-lg">
                                            <td class="border-top-0 pl-0 py-4">Dinda</td>
                                            <td class="border-top-0 text-right py-4">{{ u.u_info.todo }}</td>
                                            <td class="border-top-0 text-right py-4">{{ u.u_info.doing }}</td>
                                            <td class="border-top-0 text-right py-4">{{ u.u_info.done }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- end: Invoice footer-->
                    <!-- begin: Invoice action-->
                    <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                        <div class="col-md-9">
                            <div class="d-flex justify-content-between">
                                <a href="/boards" class="btn btn-light-primary font-weight-bold">Back
                                </a>
                                <button type="button" class="btn btn-primary font-weight-bold"
                                        onclick="window.print();">Download Report
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- end: Invoice action-->
                    <!-- end: Invoice-->
                </div>
            </div>
            <!-- end::Card-->
        </div>
        <!--end::Container-->
    </div>

{% endblock %}